@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

/*GENERAL STYLES*/

:root {
    --primary-color: #000;
    --secondary-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Lato, sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

textarea {
    resize: none;
}

/*UTILITY CLASSES*/


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: auto;
}

.py-1 {
    padding: 1.5rem 0
}

.py-2 {
    padding: 2rem 0
}

.py-3 {
    padding: 3rem 0
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.pl-1 {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.m-0 {
    margin: 0 !important;
}

.px-1 {
    padding: 0 1.5rem
}

.px-2 {
    padding: 0 2rem
}

.px-3 {
    padding: 0 3rem
}

.bg-light {
    background: #FFF;
    color: #000;
}

.bg-primary {
    background: var(--primary-color);
    color: #FFF;
}

.bg-secondary {
    background: var(--secondary-color);
    color: #000;
}

.bg-dark {
    background: #000;
    color: #FFF;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-gray {
    color: #AAA;
}


.text-center {
    text-align: center;
}


.lead {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.btn {
    color: #FFF;
    background: var(--primary-color);
    border: none;
    /*used to remove border of button tag*/
}

.btn-light {
    background: var(--secondary-color);
}

.btn:hover {
    background: #CCC;
    transition: background .3s;
    cursor: pointer;
}

.margin-bottom-20 {
    margin-bottom: 2.5rem;
}

.margin-bottom-30 {
    margin-bottom: 3.75rem;
}

.margin-bottom-25 {
    margin-bottom: 3.125rem;
}

.w-100 {
    width: 100%;
}

.margin-right {
    margin-right: 2rem;
}

.no-margin-right {
    margin-right: 0;
}

/*NAVBAR*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

#navbar {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding: 1rem 0;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li a {
    color: #FFF;
    padding: 1.1rem 1rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: var(--secondary-color);
    color: #000;
    border-radius: 5px;
    transition: background .3s;

}

#navbar ul li.menu-red a:hover {
    background: #F44336;
}

#navbar .sub-menu {
    position: absolute;
    display: none;
    top: 50px;
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 3px 4px 5px 0 #DDD, -3px 4px 5px 0 #DDD;

}

#navbar .menu:hover .sub-menu {
    display: block;
}

#navbar .sub-menu-items:hover {
    background: #CCC;
    color: var(--primary-color);
    cursor: pointer;
}

/*IMAGE*/
#image {
    background: #000 url('../images/chicago.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
}

#image .img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: justify;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFF;
}

#image h3 {
    padding-bottom: 1rem;
}


/*THE BAND*/

#band-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#band-section .member {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*EVENTS*/

#events .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#events .event-list {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    color: var(--text-gray);
    /*    justify-content: space-between;*/
    /*    align-items:flex-start;*/

}

#events .event-item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    border-bottom: solid 1px #CCC;
}

#events .last-event-item {
    justify-content: space-between;
    align-items: flex-end;
    border: none;
}

#events .tag-sold-out {
    margin-left: 2.5rem;
    background: #F44336;
    color: #FFF;
    padding: 0.375rem 1rem;
    box-sizing: border-box;
}

#events .badge {
    text-align: center;
    display: inline-block;
    background: #000;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 100%;
    margin-right: 1rem;
}

#events .cards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#events .event-card {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.btn {
    background: black;
    width: 6rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    align-content: center;
    padding: 0.5rem;
}

/*CONTACT US*/

input {
    padding: 0.2rem;
    margin: 0.1rem;
}

#contact .contact-head {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact .contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}


/*Scrollbars*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

@media (max-width: 640px) {
    #events .cards {
        flex-direction: column;
        align-items: center;
    }

    #events .event-card {
        /*        width: 100%;*/
        margin-right: 2rem;

    }

    #contact .contact-form {
        display: flex;
        flex-direction: column;

    }
}
